@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    background:linear-gradient(to right,#d6e4f5,#a4c9df);
    color:#1d3a6d;
}
header {
    background-color:#1d3a6d;
    color:white;
    padding:20px;
    text-align: center;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.profile-icon img{
    width:40px;
    height:40px;
    border-radius:50%;
    cursor:pointer;
    margin-right:15px;
}
/*navigation bar*/
nav{
    background-color:#4aa0c4;
    padding:10px;
    text-align: center;
}

nav ul{
    list-style-type:none;
    padding:0;
}

nav ul li{
    display:inline;
    margin:0 15px;
}
nav ul li a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition: color 0.3 ease-in-out;
}
nav ul li a:hover{
    color: #d6e4f5;
}
hero{
    text-align:center;
    padding:50px;
    background:#7bb7d1;
    color: white;
    font-size:1.2rem;
    border-radius: 0 0 20px 20px
    
}

.content{
    display:flex;
    justify-content:space-between;
    margin:30px;
}

.about, .features{
    background: white;
    padding:20px;
    border-radius:10px;
    width:45%;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
    transition:transform 0.3s ease-in-out;

}

.about:hover, .features:hover{
    transform:scale(1.02);
}
.features ul{
   list-style-type:none;
   padding:0;
}

.features ul li{
    margin: 10px 0;
    font-size:16px;
 }



footer{
    background-color: #1d3a6d;
    color:white;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:0;
    width:100%;
}